.container {
    border: 1px solid black;
    border-radius: 9px;
    width: 279px;
    height: 420px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.display {
    border: 1px solid black;
    border-radius: 9px;
    width: 250px;
    max-height: 59px;
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.value {
    white-space: nowrap;
}

.caret {
    width: 2px;
    height: 1.2em;
    margin-left: 2px;
    background: black;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.row {
    display: flex;
    justify-content: space-between;
    width: 261px;
}

.divide-operator {
    width: 61.25px;
    height: 55px;
    border-radius: 9px;
    margin: 5px;
}

.row .ac,
.row .del {
    width: 92.875px;
    height: 55px;
    border-radius: 9px;
    margin: 5px;
}

.row button {
    width: 61.25px;
    height: 55px;
    border-radius: 9px;
    margin: 5px;
}

.row .equals {
    width: 132.50px;
    height: 55px;
    border-radius: 9px;
    margin: 5px;
}
